# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=BotCarniceriaDb
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@botcarniceria.local
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_PORT=5050
